#div1{
    text-align: center;
    background-color: blue;
    color: white;
}

.heading1{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.heading2{
    font-family: monospace;
    font-size: 50px;
}

.kuchBhi{
    background-color: yellow;
    color: black;
    margin-left: 50px;
}

.div2{
    color: cornflowerblue;
    font-weight: 900;
    font-size: xx-large;
}

.button1{
    background-color: crimson;
    border:20px solid green;
    font-size: 30px;
    border-radius: 10%;
}

.button1:hover{
    background-color: green;
    border:20px solid crimson;
}

#div3{
    margin-top: 4%;
    margin: 4%;
    text-align: center;
}